/* global */
.sc-bg-green{
  background-color: green;
}

.sc-padding-80 {
  padding: 80px 0;
}

.sc-padding-30 {
  padding: 30px 0;
}

.sc-margin-bottom-20{
  margin-bottom: 20px;
}

.sc-wrapper-60{
  width: 60%;
  margin: 0 auto;
}

/* header */
.sc-header-top{
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  z-index: 999;
  background-color:mediumslateblue;
}

.sc-header-bottom{
  min-height: 300px;
  margin-top: 80px;
}

.sc-jumbotron{
  width: 80%;
  max-width: 800px;
  min-height: 300px;
  margin: 0 auto;
  background-color: lightblue;
}

/* section */
.sc-box{
  width: 100%;
  height: 350px;
  margin-bottom: 15px;
  background-color: lightcoral;
}

.sc-footer-top{
  background-color: lightseagreen;
}
.sc-footer-bottom{
  background-color:mediumslateblue;
}